.grid-container {
  display: grid;
  grid-template-areas: "header header"
                        "nav nav"
                        "main aside";
}

.grid-container-main {
  display: grid;
  grid-template-areas: "section img";
}

.grid-container-main>section {
  grid-area: section;
}

.grid-container-main>picture {
  grid-area: img;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

main img {
  min-width: 70%;
  height: auto;
}

@media (max-width:768px) {
  .grid-container {
    grid-template-areas: "header header"
                          "nav nav"
                          "main main"
                          "aside aside";
  }

  aside {
    margin-bottom: 42px;
  }
}

@media (max-width: 480px) {
  main.grid-container-main {
    grid-template-areas: "section"
                          "img";
  }

  main.grid-container-main>picture>img{
    position: relative;
    left: 15%;
  }
}
