nav, main{
    background-color:silver;

}
.containerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.containerMainAndASide {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-flow: nowrap;

}
.containerMain {
    display: flex;
    flex-direction:column;
    width: 70%;

}

.containerMainAndASide>aside {
  width: 30%;
}

.flex-Items {
  justify-content: space-evenly;
}

.container>main{
    margin-left: 10px;
}

.container>.zusatzinfos{
    flex-flow: nowrap;
    margin-right: 10px;

}
