nav, main{
    background-color:silver;

}
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#container>main{
    margin-left: 10px;
    width: 500%;

}
#container>.zusatzinfos{
    margin-right: 10px;
    width: 200%;
}
