nav, main{
    background-color:silver;

}
.containerColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.containerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.container>main{
    margin-left: 10px;

}

.container>.zusatzinfos{
    margin-right: 10px;

}
