* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0px;
}

h1, h2, figcaption {
  color: purple;
}

main {
  margin: 5px;
}

/* header styles: */

header {
  background-color: #D3D3D3;
}

header>figure{
  margin: 0px;
  padding: 5px;
}

figcaption {
  position: absolute;
  top: 0.10em;
  left: 1.75em;
  color: white;
  font-weight: bold;
  font-size: 80px;
}

#Seminarliste>thead>tr{
  background-color: green;
}

#Seminarliste>tbody tr:nth-of-type(2n){
  background-color: yellow;
}

/* main stlyes: */

section {
  margin-bottom: 15px;
}

.copyright {
  border-top: 2px solid darkgrey;
  padding: 10px 5px;
}





input:required {
  color: rgb(204, 8, 211);
}

input:valid {
  background-color: rgb(134, 255, 140);
}

.navigationsleiste {
  padding: 0px;
  margin: 0px;
  background-color: grey;
  height: 35px;
}

.navigationsleiste>ul {
  padding: 0px;
  height: 100%;
  margin: 0px;
}

.navigationsleiste>ul>li{
  display: inline-block;
  height: 100%;
  margin-left: 5px;
  /* background-color: #A9A9A9; */
}

.navigationsleiste a {
  color: white;
  text-decoration: none;
  position: relative;
  top: 8px;
  padding: 5px;
}

input:invalid {
  background-color: rgb(252, 115, 115);
}

fieldset>div {
  margin: 0.3rem;
}

/* FIXME: Funktiorniert noch nicht wie ich es mir vorgestellt habe */
div.required::after {
  content: " (erforderliche Eingabe)";
}

fieldset, legend {
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
}

fieldset>legend{
  background-color: blue;
  font-style: italic;
  color: white;
  box-shadow: 2px 2px 2px black;
}

fieldset div {
  padding-bottom: 5px;
}

.navigationsleiste li>a:hover{
  color: yellow;
}

/* [label*="Titel des Seminars"]::after { */
  /* content: "test"; */
/* } */
footer.zusatzinfos{
  background: lightcoral;
  margin: 3px;
  padding: 3px;
  border: 2px dotted;
}
/* [title*="Zusatzinfos"] { */
  /* background-color: lightcoral; */
/* } */

a[href*="mailto:"]::after {
  content: "";
  background-image: url(Ressources/index.png);
  display: inline-block;
  background-size: 1.5em 1.5em;
  height: 1.5em;
  width: 1.5em;
  margin-left: 1.2em;

}
