h1, h2, figcaption {
  color: purple;
}

body {
  margin: 0px;
}

main {
  margin: 5px;
}

header>figure{
  margin: 0px;
  padding: 5px;
}

figcaption {
  position: absolute;
  top: 0.10em;
  left: 1.75em;
  color: white;
  font-weight: bold;
  font-size: 80px;
}

header {
  background-color: #D3D3D3;
}

section {
  margin-bottom: 15px;
}

input:required {
  color: rgb(204, 8, 211);
}

input:valid {
  background-color: rgb(134, 255, 140);
}

nav {
  padding: 0px;
  margin: 0px;
  background-color: grey;
  height: 35px;
}

nav>ul {
  padding: 0px;
  position: relative;
  top: 8px;
  margin: 0px;
}

nav>ul>li{
  display: inline-block;
  position: relative;
  left: 10px;
  padding-left: 5px;
}

nav a {
  color: white;
}

input:invalid {
  background-color: rgb(252, 115, 115);
}

fieldset>div {
  margin: 0.3rem;
}

/* FIXME: Funktiorniert noch nicht wie ich es mir vorgestellt habe */
div.required::after {
  content: " (erforderliche Eingabe)";
}

fieldset {
  padding: 5px;
  border-radius: 2.5%;
}

fieldset label {
  padding-bottom: 5px;
}

nav>p>a:hover{
  color: yellow;
}

/* [label*="Titel des Seminars"]::after { */
  /* content: "test"; */
/* } */
footer.Zusatzinfos{
  background: lightcoral;
  margin: 3px;
  padding: 3px;
  border: 2px dotted;
  border-width: thick;
}
/* [title*="Zusatzinfos"] { */
  /* background-color: lightcoral; */
/* } */

* {
  font-family: Helvetica, Arial, sans-serif;
}

[title*="Email"]::after {
  position:absolute;
  top: 300px;
  left: 210px;
  content: url(Ressources/index.png);
  display: inline-block;
  transform: scale(.2);

}
