<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="dashboard.css">
  </head>
  <body>
    <header>
      <figure>
        <a href="Dashboard.html"><img src="Ressources/byarne.png" alt="Logo" width="100"></a>        <figcaption>Seminarverwaltung</figcaption>
      </figure>
    </header>
    <nav class="navigationsleiste">
      <ul>
        <li><a href="Seminare.html">Seminare</a></li>
        <li><a href="DetailseiteSeminar.html"> Detailseite Seminar </a></li>
        <li><a href="DetailseiteSeminarleiter.html">Seminarleiter</a> </li>
        <li><a href="Seminarformular.html">Neues Seminar anlegen</a></li>
      </ul>
    </nav>
    <main class="flexbox">
        <a href="Seminare.html"><div class="flex-item"><p>Seminardienste</p></div></a>
        <a href="DetailseiteSeminar.html"><div class="flex-item"><p>Seminardetails</p></div></a>
        <a href="DetailseiteSeminarleiter.html"><div class="flex-item"><p>Seminarleiter</p></div></a>
        <a href="Seminarformular.html"><div class="flex-item"><p>Neues Seminar anlegen</p></div></a>
        <a><div class="flex-item" id="kachel"><p>+</p></div></a>
    </main>
    <footer class="copyright">&COPY; by Kevin Gottwald & Jannik Will</footer>
    <script type="text/javascript" src="dashboard.js">
    </script>
  </body>
</html>
