<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
  </head>
  <body>
    <header>
      <%- include('Header'); %>
    </header>
    <nav class="navigationsleiste">
      <%- include('Nav'); %>
    </nav>
    <main class="flexbox">
        <a href="seminarliste"><div class="flex-item"><p>Seminardienste</p></div></a>
        <a href="seminardetail"><div class="flex-item"><p>Seminardetails</p></div></a>
        <a href="seminarleiter"><div class="flex-item"><p>Seminarleiter</p></div></a>
        <a href="seminarneu"><div class="flex-item"><p>Neues Seminar anlegen</p></div></a>
        <a><div class="flex-item" id="kachel"><p>+</p></div></a>
    </main>
    <footer class="copyright"><%- include('Footer') %></footer>
    <script type="text/javascript" src="js/dashboard.js">
    </script>
  </body>
</html>
