<!DOCTYPE html>
<html lang="de">

<head>
  <title>Seminarleiter</title>

  <!--Grundaufbau HTML-->
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
</head>


<body class="grid-container">
  <header>
      <%- include('Header'); %>
    </header>
  <nav class="navigationsleiste">
    <%- include('Nav'); %>
  </nav>
  <main class="grid-item-2columns grid-container-main">
    <section>
      <h2>Infos:</h2>
      <ul>
        <li>Name: Markus Frenkel</li>
        <li>Email: <a href="mailto:dragonkiller78@gmail" title="Email">dragonkiller78@gmail.com</a></li>
        <li>Telefon: 123456789</li>
      </ul>
    </section>
    <picture id="seminarleiterBild">
      <source media="(min-width: 650px)" srcset="img/ProfilBildSeminarleiter.jpg" type="image/jpg">
        <img src="img/ProfilBildSeminarleiter.jpg" alt="Profilbild">
    </picture>
  </main>
  <aside class="zusatzinfos">
    <%- include('Aside') %>
  </aside>

  <footer class="copyright"><%- include('Footer') %></footer>
</body>


</html>
