<!DOCTYPE html>
<html lang="de">

<head>
  <title>Details zum Seminar</title>

  <!--Grundaufbau HTML-->
  <meta charset="utf-8">
  <link rel="stylesheet" type = "text/css" href ="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/flexbox.css">
</head>


<body class="containerColumn">
  <header>
      <%- include('Header'); %>
    </header>
  <nav class="navigationsleiste">
    <%- include('Nav'); %>
  </nav>
  <div class="containerMainAndASide">
  <main class="containerMain">
    <h1>Detailseite Seminar</h1>
    <section>
      <h2>Informationen zum Seminar</h2>

      <ul>
        <li>Titel: Unternehmensführung</li>
        <li>Seminarleiter: <a href="DetailseiteSeminarleiter.html">Herr Frenkel</a></li>
        <li>Uhrzeit: 13 Uhr-15 Uhr</li>
        <li>Freie Plätze: 500</li>
        <li>Plätze insgesamt: 501</li>

      </ul>
    </section>

    <section>
      <h2>Beschreibung des Seminars: </h2>
      Lorem ipsum dolor amet chillwave shabby chic locavore street art
      cold-pressed vegan cardigan, humblebrag DIY. Disrupt woke typewriter
      pour-over slow-carb. Pitchfork literally air plant brunch unicorn,
      echo park slow-carb roof party mustache fam lomo prism man bun pop-up snackwave.
      Tilde literally activated charcoal, quinoa edison bulb tumeric meditation. Ugh farm-to-table
      pickled roof party shaman. Helvetica ennui edison bulb gastropub heirloom, synth lomo.
    </section>
  </main>
  <aside class="zusatzinfos">
    <%- include('Aside') %>
  </aside>
</div>
  <footer class="copyright"><%- include('Footer') %></footer>
</body>

</html>
