<ul>
        <li><a href="seminarliste">Seminare</a></li>
        <li><a href="seminardetail"> Detailseite Seminar </a></li>
        <li><a href="seminarleiter">Seminarleiter</a> </li>
        <li><a href="seminarneu">Neues Seminar anlegen</a></li>
      </ul>